h1{
    color:blue;
    background-color: bisque;
    text-align: center;
    font-size: 100px;
}
table{
    font-size: 20px;
    border-color:hsl(25, 75%, 47%);
    border-collapse:collapse;
}
tr, th, td{
    background-color: greenyellow;
    border: 2px  solid black;
    text-align:center;
    color:black;
    padding:10px;
  
}


